@model IEnumerable<TuT.ba.Models.Instrukcija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumOdrzavanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trajanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popust)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumOdrzavanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trajanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popust)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
